.accent-color {
  color: #64FFDA;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App .page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .page-container:nth-child(odd) {
  background-color: #cbcbcb;
  color: #282c34;
}

.split-content-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  border: 1px solid #61F7D4;
  color: #61F7D4;
  border-radius: 15px;
  text-align: left;
  background-color: #282C34;
  padding: 45px;

}

p {
  margin-top: 0;
  font-size: 23px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #61f7d4 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #61f7d4;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }

  #__react-alert__ div div div {
    background-color: #282C34!important;
    border: 1px solid #61F7D4;
  }

  button {
    cursor: pointer;
    transition: 0.3 all;
  }

  button:hover {
    background-color: #61F7D4;
    color: #282C34;
  }